@import url('https://fonts.cdnfonts.com/css/foco');

/*
#613d98
#120c1c
*/
body{
    margin: 0;
    padding: 0;
   /* font-family: Arial, sans-serif;*/
   font-family: 'Foco', sans-serif;
    color: whitesmoke;
    background-color: #120c1c;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;  
}

.TrackListWidget_labelsAndSubtitle__IGHar {
    background-color: aqua !important;
}

.content-container {
    max-width: 1200px;
    font-size: 20px;
}

h1 {
    font-size: 74px;  
}

.hero-wrapper {
    width: 100%;
    display: flex;
    position: center;
    
}
.greeting {
    flex-grow: 2;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    padding: 25px 50px;
  
}

.hero-image {
    /*width: 80vw;
   
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('img/klubik_logo_clean_1280x650.png');
    
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
  

    margin: 0px 15px 0px 15px;

    */

    width: 50vw; /* Define the width of the div */
    min-width: 320px;
    min-height: 162;
    padding-top: 28.125%; /* (650/1280)*100% to maintain the aspect ratio */

   
    /*
    linear-gradient(rgba(18, 12, 28, 0) 0%, rgba(18, 12, 28, 0.80) 30%, #120c1c 40%)
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('img/klubik_logo_clean_1280x650.png');*/
    background: linear-gradient(rgba(18, 12, 28, 0) 20%, rgba(18, 12, 28, 0.80) 90%), url('img/klubik_logo_clean_1280x650.png');
    /*background:  url('img/klubik_logo_clean_1280x650.png');*/
    background-size: contain;
    background-repeat: no-repeat;
    flex-grow: 3;
    background-position: center center;
    /*
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center center;
    overflow: hidden;
    */

    
}

.content {
    width: 100vw;
    display: flex;
    padding: 20px;
    background-position: center;
    background-color: #613d98;
}

.narrow-p  {
    max-width: 500px;
}

.content-row {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding: 15px;

}

#game {
    width: 100%;
    height: 90vh 
}

#splaylist {
    background-color: #613d98;
    
    
}

#music-text {
    flex-grow: 1;
}

#splayer {
    flex-grow: 4;
    
}

.playerik {
    height: 400px;
    
}

@media screen and (max-width: 979px) {
    .content-row {
        display: flex;
        flex-direction: column;
    
    }

    .hero-wrapper {
        width: 100%;
        display: flex;
        flex-direction: column-reverse;
        position: center;
        
    }

    .hero-image {
        padding: 0px;
        width: 95%;
        background-position: center center;
        aspect-ratio: 1280 / 650;
     
    }

    .greeting {
        padding: 0px 20px;
    }

    .content-row {
        
        padding: 0px 20px 20px 20px;
    }

    #game {
        width: 100vw;
        height: 80vh 
        
    }

    .narrow-p  {
        max-width: 100%;
    }
  }

  footer {
    padding-top: 300px;
  }


/*

.menu {
    position: -webkit-sticky; 
    position: sticky;
    top: 0;
    background-color: #333;
    padding: 10px 0;
    text-align: center;
    width: 100vw;
    height: auto;
}
.menu a {
    color: white;
    padding: 14px 20px;
    text-decoration: none;
    display: inline-block;
}
.menu a:hover {
    background-color: #575757;
}

.content .text {
    flex: 1;
    padding: 20px;
}
.content .image {
    flex: 1;
    background-image: url('img/klubik_logo_clean_1280x650.png');
    background-size: cover;
   
    background-position: center;
}


*/